@{
    Layout = "~/Views/Shared/_TenderResponse_wizard.cshtml";
}
<!-- BEGIN PAGE TITLE-->
 <div class="page-content" style="min-height: 900px!important">
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="/Home/TendersList">e-Bidding</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li><span>Active Tender Invitations</span></li>
            </ul>
        
        </div>
        <!-- END PAGE BAR -->

        <h3 class="page-title"><strong>Welcome to e-Bidding System</strong>
        </h3>
        <!-- END PAGE TITLE-->

        <p>
            Home e-Registration e-Prequalification e-Bidding Self Service Help desk
            The e-Bidding Portal enables the tenderers to view all Active Invitation For Supply (IFS) Notices, download the
            related tender documents and allow for online submission of their bid responses
        </p>
 <input type="hidden" value="@Session["tenderclass"]" class="loaded_tender_type" /><br/>
 <div id = "tenderesponseMsg" style="display: block"></div>
 <div id="tenderesponsefeedbacks" style="display: block;"></div>

 <!-- START: Active Tender Invitations-->
 <div id="tender_displays">
     <div class="row" id="tenderslistdiv">
         <div class="col-md-12">
             <!-- Begin: life time stats -->
             <div class="portlet light portlet-fit portlet-datatable bordered">
                 <div class="portlet-title">
                     <div class="caption">
                         <i class="icon-settings font-green"></i>
                         <span class="caption-subject font-green sbold uppercase">Open Tender Notices</span>
                     </div>

                     <div class="actions table-responsive">
                         <table class="table table-striped table-bordered table-hover">
                             <tr>
                                 <td>
                                     <div class="btn-group" id="proc_methd_div" style="display: block">
                                         <a class="btn green btn-outline btn-circle" id="procmethd_sel_btn" href="javascript:;">
                                             <span class="hidden-xs"> By Procurement Method </span>
                                             <i class="fas fa-search"></i>
                                         </a>
                                     </div>
                                     <div id="proc_methd_div_2" style="display: none; width: 175px;">
                                         <select id="procurement_methods" class="form-control select2">
                                             <option value="Open Tender">Open Tender</option>
                                             <option value="RFQ">RFQ</option>
                                             <option value="RFP">RFP</option>
                                             <option value="Two-Stage Tender">Two-Stage Tender</option>
                                             <option value="Design Competition Tender">Design Competition Tender</option>
                                             <option value="Restricted Tender">Restricted Tender</option>
                                             <option value="Direct Procurement">Direct Procurement</option>
                                             <option value="Low Value Procurement">Low Value Procurement</option>
                                             <option value="Force Account">Force Account</option>
                                             <option value="Framework Agreement">Framework Agreement</option>
                                             <option value="Reverse Auction">Reverse Auction</option>
                                             <option value="Public Private Partnership">Public Private Partnership</option>
                                         </select>
                                     </div>
                                 </td>
                                 <td>
                                     <div class="btn-group" id="region_sel_div" style="display: block">
                                         <a class="btn green btn-outline btn-circle" id="region_sel_btn" href="javascript:;">
                                             <span class="hidden-xs"> Search by Region </span>
                                             <i class="fas fa-search"></i>
                                         </a>
                                     </div>
                                     <div id="region_sel_div_2" style="display: none; width: 175px;">
                                         <select id="regions_centers" class="form-control select2">
                                             <option value="">----</option>
                                         </select>
                                     </div>
                                 </td>
                                 <td>
                                     <div class="btn-group" id="prod_group_div" style="display: block">
                                         <a class="btn green btn-outline btn-circle" id="prod_group_sel_btn" href="javascript:;">
                                             <span class="hidden-xs"> Product Group </span>
                                             <i class="fas fa-search"></i>
                                         </a>
                                     </div>
                                     <div id="prod_group_div_2" style="display: none; width: 175px;">
                                         <select id="prod_group" class="form-control select2">
                                             <option value="">----</option>
                                         </select>
                                     </div>
                                 </td>
                                 <td>
                                     <div class="btn-group" id="works_cat_div" style="display: block">
                                         <a class="btn green btn-outline btn-circle" id="works_cat_sel_btn" href="javascript:;">
                                             <span class="hidden-xs">Works Category </span>
                                             <i class="fas fa-search"></i>
                                         </a>
                                     </div>
                                     <div id="works_cat_div_2" style="display: none; width: 175px;">
                                         <select id="works_cat_ddl" class="form-control select2">
                                             <option value="">----</option>
                                         </select>
                                     </div>
                                 </td>
                                 <td>
                                     <div class="btn-group" id="tender_xp_div" style="display: block">
                                         <a class="btn green btn-outline btn-circle" id="tender_xp_sel_btn" href="javascript:;">
                                             <span class="hidden-xs">Expiry Date </span>
                                             <i class="fas fa-search"></i>
                                         </a>
                                     </div>
                                     <div id="tender_xp_div_2" style="display: none;">

                                         <div class="input-group input-medium date date-picker" data-date="2012-12-02" data-date-format="yyyy-mm-dd" data-date-viewmode="years">
                                             <span class="input-group-btn input-circle-right">
                                                 <button class="btn default" type="button">
                                                     <i class="fa fa-calendar"></i>
                                                 </button>
                                             </span>
                                             <input type="text" class="form-control" readonly id="tender_xp_dte" name="tender_xp_dte" style="width: 175px">
                                         </div>

                                     </div>

                                 </td>
                             </tr>
                         </table>
                     </div>
                 </div>

                 <div class="portlet-body">
                     <div class="table-container">
                         <div id="ifpfeedbacks" style="display: none;"></div>
                         <table class="table table-striped table-bordered table-hover" id="tbl_open_tenders_n">
                             <thead>
                                 <tr>
                                     <th>#</th>
                                     <th>Notice No.</th>
                                     <th>Tender No.</th>
                                     <th>Tender Name</th>
                                     <th>Product Group</th>
                                     <th>Submision End Date</th>
                                     <th>Bid scoring Template ID</th>
                                 </tr>
                             </thead>
                             <tbody></tbody>
                         </table>
                     </div>
                 </div>

             </div>
             <!-- End: life time stats -->
         </div>
     </div>
     <!---START: Tender Details per ITT No-->
     <div id="tender_details_div" style="display: none">
         <div class="portlet-body">
             <ul class="nav nav-tabs">
                 <li class="active">
                     <a href="#tab_1_1" data-toggle="tab"> Overview </a>
                 </li>
                 <li>
                     <a href="#tab_1_2" data-toggle="tab"> Purchase Items/Services </a>
                 </li>

                 <li>
                     <a href="#tab_1_3" data-toggle="tab"> Tender Requirements </a>
                 </li>

                 <li>
                     <a href="#tab_1_4" data-toggle="tab">Project Works </a>
                 </li>
                 <li>
                     <a href="#tab_1_5" data-toggle="tab">Evaluation Criteria </a>
                 </li>
                 <li>
                     <a href="#tab_1_6" data-toggle="tab">Tender Documents </a>
                 </li>
             </ul>
             <div class="tab-content">
                 <div class="tab-pane fade active in" id="tab_1_1">
                     <div class="col-md-12">
                         <!-- Begin: life time stats -->
                         <div class="portlet light portlet-fit portlet-datatable bordered">
                             <div class="portlet-body">
                                 <!-- populate controls -->
                                 <div class="scroll">
                                     @Html.Action("TenderOverviewInject", "Home")
                                 </div>
                             </div>
                         </div>
                         <!-- End: life time stats -->
                     </div>
                 </div>

                 <div class="tab-pane fade" id="tab_1_2">
                     <div class="col-md-12">
                         <div class="portlet light portlet-fit portlet-datatable bordered">
                             <div class="portlet-body">
                                 <strong>Purchase Lines</strong>
                                 <p>
                                     The bidder shall be required to provide pricing information for the Goods and Services listed below. Please note the following:
                                     1. The bidder must quote for the full quantity on each line.
                                     2. The Price Quote Model is used to determine how the pricing for each line shall be done.
                                     a) Bidder Pricing-This means that the bidder is allowed to set their best price for each line. There is no 	restriction on the amount that the bidder can quote in this case.
                                     b) Flat Amount from Buyer-This option is used when the Procuring Entity (The Buyer) has defined a 	specific standard amount that all bidders shall adopt for a specific purchase line. In this case, the bidder
                                     cannot quote more than the set standard amount/limit.
                                 </p>
                                 <!-- populate controls -->

                                 @Html.Action("PurchaseItemsInject", "Home")

                             </div>
                         </div>
                     </div>

                 </div>

                 <div class="tab-pane fade" id="tab_1_3">
                     <!-- populate controls -->
                     <strong>Key Tender Requirements</strong>
                     <div class="scroll">
                         @Html.Action("TenderRequirementsInject", "Home")
                     </div>
                 </div>

                 <div class="tab-pane fade" id="tab_1_4">
                     <div class="scroll">
                         @Html.Action("ProjectWorksInject", "Home")
                     </div>

                 </div>

                 <div class="tab-pane fade" id="tab_1_5">
                     <div class="scroll">
                         @Html.Action("TenderEvalCriteriaInject", "Home")
                     </div>

                 </div>

                 <div class="tab-pane fade" id="tab_1_6">
                     <div class="scroll">
                         @Html.Action("TenderDocuments", "Home")
                     </div>

                 </div>

             </div>
         </div>

         <div class="form-actions">
             
             <div class="row continue_div" style="display: none">
                 <div class="col-md-offset-5 col-md-8">
                     <a href="javascript:;" class="btn green btn-outline btn-circle btn_back_2_tenderlist"><i class="fas fa fa-angle-left"></i> &nbsp;Back </a>
                     <a href="javascript:;" class="btn green btn-outline btn-circle btn_go_apply">Continue Application &nbsp;<i class="fas fa fa-edit"></i></a>
                 </div>
             </div>
             <div class="row apply_div">
                 <div class="col-md-offset-5 col-md-8">
                     <a href="javascript:;" class="btn green btn-outline btn-circle btn_back_2_tenderlist"><i class="fas fa fa-angle-left"></i> &nbsp;Back </a>
                     <a href="javascript:;" class="btn green btn-outline btn-circle btn_go_apply">Apply &nbsp;<i class="fas fa fa-edit"></i></a>
                </div>
             </div>
         </div>

     </div>
     <!---START: Tender Details per ITT No-->
     <!-- END: Active Tender Invitations-->
 </div>

 <div id="tender_responses" style="display: none">
     @Html.Action("TenderResponseForm", "Home")
 </div>

 <div class="modalspinner" style="display: none">
         <div class="centerspinner">
             <img alt="" src="/assets/loaders/spinner.gif"/>
         </div>
     </div>

</div>
<!-- END CONTENT BODY -->